output/
.idea/inspectionProfiles/
.idea/workspace.xml
src/test/
target/
output.jar
Test.sl
Test.tl
theory/inference_rules.aux
theory/inference_rules.log
theory/inference_rules.pdf
theory/inference_rules.synctex.gz